/*set table and td sizes here*/
/*table {
  height: 500px;
  width: 500px;
  border: 1px solid black;
}*/
body {
  margin: auto;
  text-align: center;
}
table {
  margin: auto;
  min-width: 500px;
}
h1 {
  background-color: #AF0102;
  font-family: 'Black Ops One', cursive;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 50px;
  text-align: center;
  border: 6px solid #f2f2f2;
}
.header {
  margin: 10px auto 10px auto;
  width: 600px;
  box-shadow: 5px 5px 5px #2d2d2d;
}
h3 {
  font-family: 'Quantico', sans-serif;
  font-size: 28px;
}
td {
  height: 49px;
  width: 49px;
  background-color: #4EA4BB;
}
.miss {
  background-color: #a9c9c9;
}
.hit {
  background-color: #AF0102;
}
button {
  background: black;
  font-family: 'Black Ops One', cursive;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 2px #595959;
  border-radius: 6px;
}
