/*set table and td sizes here*/
/*table {
  height: 500px;
  width: 500px;
  border: 1px solid black;
}*/
body {
  margin: auto;
  background-image: url("battleship.jpg");
  /*text-align: center;*/
}
table {
  margin: 20px auto;
  text-align: center;
  box-shadow: 5px 5px 5px #2d2d2d;
  /*min-width: 500px;*/
}
h1 {
  font-family: 'Black Ops One', cursive;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 70px;
  text-align: center;
  padding: 0px;
}
h3 {
  font-family: 'Quantico', sans-serif;
  font-size: 28px;
  margin: 30px auto 20px auto;
  text-shadow: 2px 2px 4px white;
  color: #2B3034;
}

.header {
  width: 100%;
  margin: 20px auto 10px auto;
  box-shadow: 5px 5px 5px #2d2d2d;
  float: none;
  background-color: #B32033;
  border: 6px solid #f2f2f2;
}
.board {
  border: 2px solid #566b77;
  background-color: rgba(45, 71, 86, .85);
}
.board td {
  height: 50px;
  width: 50px;
}
.miss {
  background-color: #738792;
}
.hit {
  background-color: #B32033;
}
button {
  background: #101E2B;
  border-radius: 6px;
  border-color: #273440;
  font-family: 'Black Ops One', cursive;
  font-size: 20px;
  color: white;
  /*text-shadow: 1px 1px 2px #595959;*/
  text-align: center;
  margin: 0 0 20px 0;
}
.shipTracker {
  font-size: 18px;
  /*max-width: 500px;*/
  width: 98%;
  padding: 0;
}
.shipTrackerTable {
  margin: -10px auto 0 auto;
  padding: -4px;
  border-collapse: separate;;
  border-spacing: 0;
  border: 3px solid rgba(45, 71, 86, .85);
  border-radius: 9px;
  box-shadow: 5px 5px 5px #2d2d2d;
}
.shipTrackerTable td {
  background-color: rgba(45, 71, 86, .85);
  /*border-bottom: 2px solid rgba(45, 71, 86, .65);*/
  /*border-color: rgba(0, 0, 0, 0);
  border-radius: 9px;*/
  width: 140px;
  height: 50px;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 18px;
  color: white;
}
.shipTrackerTable th {
  height: 50px;
  background-color: rgba(136,151,159, .75);
  border-bottom: 2px solid rgba(45, 71, 86, .65);
  /*border-radius: 9px;*/
  text-align: center;
  font-family: 'Quantico', sans-serif;
  font-size: 18px;
  color: #2B3034;
}
.boomImage {
  width: 50px;
}
