/*set table and td sizes here*/
/*table {
  height: 500px;
  width: 500px;
  border: 1px solid black;
}*/
td {
  height: 49px;
  width: 49px;
  /*border: 1px solid black;*/
  background-color: rgba(106,145,141,.6);
  /*margin: -5px;*/
}
tr {
  /*margin: 0px;*/
}

.miss {
  background-color: rgba(106,145,141,1);
}
.hit {
  background-color: rgba(165,92,112,1);
}
